
.locationDifference {
    background: black;
}
.getDifference {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1000ms infinite;
    -moz-animation: glowing 1000ms infinite;
    -o-animation: glowing 1000ms infinite;
    animation: glowing 1000ms infinite;
}
@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

#propertyMap{

    margin-left: 0;

}

.blink{
    width:200px;
    height: 50px;
    background-color: magenta;
    padding: 15px;
    text-align: center;
    line-height: 50px;
}
.getDifference{
    font-size: 25px;
    font-family: cursive;
    color: red;
    animation: blink 0.5s linear infinite;
}
@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .8;}
    100%{opacity: 1;}
}




#locationDifference{
    font-size: 30px;
}
 .fa-heart-o{
     color: chocolate;
     font-size: 35px;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.emp-field{

   height: 50px;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

#map{
    width: 100%;
}





.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    /*cursor: pointer;*/
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li{
    list-style: none !important;
}
/* Hide the browser's default radio button */
.container input {
    position: absolute;

    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ff214f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;

}

.md-outline.select-wrapper+label {
    top: .5em !important;
    z-index: 2 !important;
}


.edit-profile-photo {
    background: #ff214f;
}
.edit-profile-photo {
    position: relative;
    box-shadow: 0 0 10px 1px rgba(71, 85, 95, .08);
    padding: 2px;
}.change-photo-btn {
     display: inline-block;
     position: absolute;
     font-size: 13px;
     bottom: -15px;
     left: 40%;
     width: auto;
     transition: 0.3s;
     cursor: pointer;
     line-height: 28px;
 }
.photoUpload {
    background: #ff214f;
}
.photoUpload {
    position: relative;
    overflow: hidden;
    padding: 3px 12px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
}
.photoUpload span {
    color: #fff;
    font-weight: 600;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.photoUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.button-theme {
    background: #ff214f;
}
.button-theme {
    color: #FFF !important;
    outline: none;
}

.btn-md {
    cursor: pointer;
    padding: 13px 30px 11px 30px;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}
.notification-bg{
    background-image: url("../img/notification-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #28a745;
}
.property-detail-uI-item{

    color: darkslategray;
    display: inline-block;
     font-size: 12px;
    line-height: 17px;

}
.property-detail-listing{
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 6px;
    padding-bottom: 2px;
    width: 100%;
}
.detail-info-property
{
  background-color: #253543;

}
.detail-text-title
{
    color: white;

}
.blinking_remarks{
    animation:blinkingText 3s infinite;
}
@keyframes blinkingText{
    0%{		color: #000;	}
    49%{	color: transparent;	}
    50%{	color: transparent;	}
    99%{	color:transparent;	}
    100%{	color: #000;	}
}
