/* Ion.RangeSlider
// css version 2.0.3
// Â© 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// RangeSlider */
.search-link:hover
{
    color: #ff214f;
}
#wish-icon:hover{
    color: #ff214f;
}

#wish-button{
    background-color: white;
}
.irs {
    position: relative; display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.irs-line {
    position: relative; display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute; display: block;
    top: 0;
}
.irs-line-left {
    left: 0; width: 11%;
}
.irs-line-mid {
    left: 9%; width: 82%;
}
.irs-line-right {
    right: 0; width: 11%;
}

.irs-bar {
    position: absolute; display: block;
    left: 0; width: 0;
}
.irs-bar-edge {
    position: absolute; display: block;
    top: 0; left: 0;
}

.irs-shadow {
    position: absolute; display: none;
    left: 0; width: 0;
}

.irs-slider {
    position: absolute; display: block;
    cursor: default;
    z-index: 1;
}
.irs-slider.single {

}
.irs-slider.from {

}
.irs-slider.to {

}
.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute; display: block;
    left: 0;
    cursor: default;
}
.irs-max {
    position: absolute; display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute; display: block;
    top: 0; left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute; display: none;
    bottom: 0; left: 0;
    width: 100%; height: 20px;
}
.irs-with-grid .irs-grid {
    display: block;
}
.irs-grid-pol {
    position: absolute;
    top: 0; left: 0;
    width: 1px; height: 8px;
    background: #000;
}
.irs-grid-pol.small {
    height: 4px;
}
.irs-grid-text {
    position: absolute;
    bottom: 0; left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px; line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute; display: block;
    top: 0; left: -1%;
    width: 102%; height: 100%;
    cursor: default;
    background: rgba(0,0,0,0.0);
    z-index: 2;
}
.lt-ie9 .irs-disable-mask {
    background: #000;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}

.irs-disabled {
    opacity: 0.4;
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}


/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// Â© Denis Ineshin, 2014    https://github.com/IonDen
// Â© guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 10px; top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}
.irs-line-left {
    height: 8px;
}
.irs-line-mid {
    height: 8px;
}
.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 10px; top: 33px;
    border-top: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
    background: #ff214f;
    /*background: #428bca;*/
    /*background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); !* W3C *!*/
}
.irs-bar-edge {
    height: 10px; top: 33px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;

    background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px; height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 20%,rgba(255,255,255,1) 100%); /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

.irs-slider.state_hover, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
        background: #ff214f;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
/* reviews on proeprty*/

.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
blockquote{
    border-left: 2px solid #ff214f;
    padding: 3%
}
.author{
    color: #ff214f;
    float:right;
}
.edit-comment:hover{
    cursor: pointer;
}
.red {
    background: red;
}

/*  designing of payment form*/

/**
* The CSS shown here will not be introduced in the Quickstart guide, but
* shows how you can use CSS to style your Element's container.
*/
input,
.StripeElement {
    height: 40px;
    padding: 10px 12px;

    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;


    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.cc-img {
    margin: 0 auto;
    max-width: 230px;
}
.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
}
.list-group{
    overflow:scroll;
    margin-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    max-height: 405px;
}
.fa-plus-square:before {
    content: "\f0fe";
    color: #fe244e;
}
.fa{
    margin-right: 10px;
}
.fa-medkit:before {
    content: "\f0fa";
    color: #fe244e;
    padding: 10px;
}
.modal {
    z-index: 99999;
    /*display: block;*/
}
#myModal{
    background: hsla(0,0%,7%,.9);
}
.modal-dialog {

}
.map-modal {

    max-width: 92%;
    height: 90%;
    /*max-width: 1250px;*/
    /*max-width: 92%;*/
    /*height: 90%;*/
    /*max-width: 1250px;*/
    animation: c .25s forwards;
}
.row{
    width: 100%;
}
.nav li button{
    border: 1.2px solid;
    padding: 5px;
    padding-left: 61px;
    padding-right: 62px;
    border-color: #eae4dd;
    background-color: #ffffff;
    font-family: sans-serif;
}

.nav{
    display: contents;
}
.nav li button:hover {
    color: #fe244e;
    text-decoration: none;
    border-color: #fe244e;
}
.navbar-header button {
    border: 1.2px solid;
    padding: 6px;
    padding-left: 73px;
    padding-right: 73px;
    border-color: #eae4dd;
    background-color: #ffffff;
    font-family: sans-serif;
}
.navbar-header button:hover {
    color: #fe244e;
    text-decoration: none;
    border-color:#fe244e;
}
#map{
    overflow: hidden;
    position: inherit;
}
.card-body ul li{
    list-style: none;
    font-size: 20px;
    font-family: initial;
}

.card-body {
    height: 421px;
    padding: 0px;
}
.modal-header .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    border: 1px solid;
    border-color: #adaeaf6b;
    border-top: 0px;
    border-bottom: 0px;
}
.mycss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0px !important;
    text-align: center;
    padding-top: 13px;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.breadcrumb-item a {
    color: rgba(255, 19, 49, 0.91);
}
.nearby-loc{
    flex-grow: 2;
    /*background: url('/assets/frontend/img/pakistanMap.svg');*/
    /*background-image: url('');*/
    background:url('/assets/frontend/img/pakistanMap.svg');
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-origin: initial;
    background-clip: initial;
    /*background: initial url('/assets/frontend/img/pakistanMap.svg') no-repeat initial;*/
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    min-height: 8rem;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
}
li .btn{
/*font-size: 1.3vw;*/
}
.nearby-loc svg{
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3.6rem;
    max-height: 3.6rem;
    display: inline-block;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);
    border-radius: 50%;
}
.nearby-container{
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,.15);
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    cursor: pointer;
}
.nearby-container div.d-flex{
    padding: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
}
.nearby-container .fa{
    color: #000;
    font-size: 1.4rem;
    padding-left: 6px;
}
.map-modal{
    max-width: 92%;
    height: 90%;
    animation: c .25s forwards;
}
.loc-svg svg{
    min-width: 2.3rem;
    min-height: 1.5rem;
    max-width: 3.6rem;
    max-height: 3.6rem;
}
.fa-tree{
    color: #165b26;
}

.add-slot

{
    border-color: #ff214f;
    border-style: solid;
    height: 200px;
}
#image_div {

    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}

.add-room .chosen-container-single, .add-room .chosen-container-multi{
    width: 100% !important;

}
    /*Listing page custom css*/

 #modal-header .close{
     color: #fe081f;
 }
#modal-header .fa-close:before, .fa-times:before {
    content: "\f00d";
    color: #f30a0a;
}

#modal-body {
    padding: 0.5rem;
}
#modal-header {
    padding: 0.5rem;
}

#myModal .modal-height {
    max-width: 86%;
    max-height: 90%;
    margin: 1.75rem auto;
    margin-top: 20px !important;
}
.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #ff214f;
    border-radius: 3px;
    font-family: sans-serif;
    -moz-border-radius: 3px;
    font-variant-numeric: slashed-zero;
}
.irs-slider {
    top: 23px;
    width: 14px;
    height: 31px;
    border: 1px solid #fe244e;
    background: #fe244e;
    background: linear-gradient(to bottom, rgb(254, 36, 78) 0%,rgb(254, 36, 78) 20%,rgb(254, 36, 78) 100%);
    border-radius: 3px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}
.irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
}
.property-box-2 .detail .location .title {
    font-size: 14px;
    color: #ff214f;
    width: fit-content;
}
.breadcrumb-item a{
    color: #ff214f;
}
.distance-font{
    font-family: monospace;
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.change-view-btn {
    color: #ff214f;
    border: solid 1px #ff214f;
    font-size: 25px;
}
.carousel-indicators > li {
    height: initial;
    text-indent: initial;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    visibility: hidden;
}
.show-more-options {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}
.form-group label, .checkbox label {
    font-weight: bold;
    font-size: 14px;
}

/* style for percentage base rating*/
.star-ratings {
    unicode-bidi: bidi-override;
    font-size: 23px;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
}
.star-ratings span{
    color: #ccc !important;
}
.star-ratings .fill-ratings {
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-ratings .fill-ratings span {
    display: inline-block;
    color: #fe244d !important;
    float: none;
}
.star-ratings .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}


.btn-map-panel{
    top: 100px;
    left: 10px;
    padding: 2px 0px 2px 8px;
}
.map-left-panel{
    top: 130px;
    left: 10px;
    display: inline-block;
    height: 260px;
    background: #0a0a0a;
}
.map-left-panel .map-panel-menu{
    padding: 10px 25px 10px 5px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.map-left-panel .map-panel-menu svg{
    width: 1.5em;
    height: 1.5em;
}
.map-left-panel .map-panel-menu span{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    margin-left: 10px;
}

/*Index page css..*/

.property-box-2 .property-img img {
    width: 100%;
    height: 253px;
}
.property-thumbnail:before {
    background: none;
}
.property-thumbnail a img {
    border-radius: 7px;
}
.property-thumbnail {
    position: relative;
    height: 16rem;
    border: 1px solid #f5cbcb;
    border-radius: 8px;
}
.property-box-2 .facilities-list {
    background: #f7f7f7;
    padding: 3px 15px;
    /* padding-top: 0px; */
}
.more-rooms {
    margin-top: -24px;
    color: #ff214f;
    font-size: 13px;
    padding: 15px 22px 0px 1px;
    font-family: inherit;
    font-weight: 700;
    text-decoration: underline;
}
.more-rooms a{
    color: #ff214f;
    position: relative;
    z-index: 100;
}
.list-content li span {
    padding: 0px 38px 0px 0px;
    font-family: monospace;
}
.property-box-2 .detail .location a {
    font-size: 14px;
    color: #1e1e1e;
}
.distance_font{
    font-family: monospace;
    font-size: 0.9rem;
    color: #fe244e;
}
.hdg {
    padding: 5px 4px 1px 18px;
}
.my-mr{
    margin-top: 0.7rem!important;
}
.property-box-2 .property-img img {
    width: 100%;
    height:-webkit-fill-available;
}
.property-box-2 .footer {
    padding: 5px 2px 5px 20px;
    font-size: 14px;
    color: #535353;
    font-weight: 500;
}
.btn-img {
    border: none;
    font-size: 13px;
    background: none;
    cursor: pointer;
    margin-left: 1.6rem;
}
#room-images-modal .modal-dialog {
    max-width: 500px;
    margin: 5.75rem auto;
    margin-left: 45rem;
}
.details-link{
    color: #fe244e !important;
}
.details-link:hover{
    text-decoration: underline;
}
.max-width{
    max-width:1200px;
}
.modal.and.carousel {
    position: fixed;
}
.list-loader{
    margin-top: 4rem;
    position: absolute;
    z-index: 100;
    background-color: #ff214f26;
    height: 100%;
    display: none;
    vertical-align: middle;
}
.list-loader img{
    vertical-align: middle;
    margin-top: 9rem;
}
.main-info-container{
    max-width: 11rem;
    max-height: 11rem;
}
.main-info-container img{
    width: 100%;
    max-width: 11rem;
    height: 7rem;
}
.main-info-container h6{
    color:#fe244e !important;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: -2px;
    text-transform: uppercase;
}
.gm-ui-hover-effect{
    display: block !important;
    right: -3px !important;
    top: -4px !important;
}
.gm-style-iw{
    padding-left: 5px;
}
.info-footer a{
    font-family: inherit;
    cursor: pointer;
    color: #ff214f;
    font-size: 11px;
}
.room-details-link{
    max-width: 9rem;
    max-height: 1.5rem;
}

.property-box-2 .facilities-list li span{
    display: inline !important;
}
  /*side map css*/
.sidebar-map-view{
    max-height: 39rem;
    width: 115%;
    margin-left: -10px;
    height: 39rem;
    display: none;
}
.hostel-listings-side{
    max-height: 34rem;
    overflow: scroll;
}
.side-map-icon{
    max-height: 40px;
    max-width: 114px;
    margin-top: -5px;
    cursor: pointer;
}
.map-view-text{
    font-size: 12px;
    color: #ff214f;
    font-family: unset;
}
.btn-back-listings{
    position: absolute;
    align-self: center;
    background-color: #ffff;
    color: #ff214f;
    border: 2px solid;
    font-weight: bold;
    z-index: 20;
    margin-left: 18.3rem;
    margin-top: 0.6rem;
}
.btn-back-listing{
    position: absolute;
    align-self: center;
    margin-left: 20rem;
    background-color: #ffff;
    color: #ff214f;
    border: 2px solid;
    margin-top: 3px;
    font-weight: bold;
    z-index: 20;
    display: none;
}
.images-view img{
    width: 100%;
}
.change-view-btn {
    border-radius: 2px;
    background: transparent;
    padding: 3px 10px 2px 18px;
    margin: -2px 2px;
    display: inline-block;
    line-height: normal;
}
      /*css for range slider*/
.range-control {
    position: relative;
}

#distance_range {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
}

#distance_range::-webkit-slider-runnable-track {
    position: relative;
    height: 12px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

#distance_range::-webkit-slider-thumb {
    position: relative;
    top: -5px;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    -webkit-appearance: none;
    background-color: #fff;
    box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    cursor: pointer;
}

output {
    position: absolute;
    top: -32px;
    display: none;
    width: 50px;
    height: 24px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
}
#distance_range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background:#ff214f;
    border-radius: 5px;
    border: 1px solid #000000;
}
#distance_range:active + output {
    display: block;
    transform: translateX(-50%);
}
#distance_range::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
#txt_distance{
    color:#ff214f;
    font-family: sans-serif;
}
#output{
    top: -28px !important;
    font-size: 1rem;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
.inline-search-area .search-col .form-control, .inline-search-area button.btn-search {
    height: 53px;
}
.banner-max-height img {
    max-height: 633px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
    color: black;
}
.inline-search-area .dropdown-toggle::after {
    color: #ff214f;
}
.bootstrap-select .dropdown-menu li a span.text {
    color: black;
    font-family: sans-serif;
    font-size: 0.9rem;
}
#route{
    font-size: 0.9rem;
}
.property-box-2{
    margin-bottom: 19px;
    border-radius: 10px;
    border: 1px solid #f3cbcb;
}
.s-border {
    width: 60px;
    margin-bottom: 15px;
}
#options-content .sidebar-title {
    font-size: 21px;
    position: relative;
    margin: 0 0 7px;
    font-weight: 600;
    margin-top: 1.4rem;
    color: #ff214f;
}
.heading-properties-3 .location {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}
.price-h {
    color: #ffffff;
    margin-left: 50px;
    font-family: inherit;
    font-size: 18px;
    margin-bottom: 2px;
}
